:root {
  --couleur1: #FF6060;
}
img{
  object-fit: cover;
}
.nav-bar li a{
  color: #FF6060;
  text-decoration: none;
}

body{
  margin: 5px 100px 5px 100px;

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  height: 68px;
  width: 210px;

}

.nav-bar {
  height: 34px;
  width: 309px;
}

.nav-bar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: var(--couleur1);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  font-style: normal;
  margin: 0;
  padding: 0;
}
@media (max-width: 800px){
  body{
    margin: 20px;
  }
  .background-filter {
    width: calc(100% - 38px);
  }
  .logo img{
    width: 80%;
  }
  .header{
    align-items: center;
  }

}
