:root {
  --couleur1: #FF6060;
}
img{
  object-fit: cover;
}
.nav-bar li a{
  color: #FF6060;
}

body{
  margin: 5px 100px 5px 100px;

}
.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 68px;
  width: 210.32154846191406px;

}

.nav-bar {
  height: 34px;
  width: 309px;
}

.nav-bar ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: var(--couleur1);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
  font-style: normal;
}

